* {
    --background-color: white;
    --fuzzy-color: rgba(203, 202, 202, 0.7);
}

*, *::after, *::before {
    box-sizing: border-box;
    /* border-radius: 2px; */
    user-select: none;
}

label::after {
    content: ' ';
}

img { /* display is inline by default */
    vertical-align: middle;
}