.task-list {
    min-height: 25px;
    min-width: 5px;
}

.task-list > .task-list-head {
    border-width: 2px;
    border-style: solid;
    /* margin-bottom: 5px; */
}

.task-list > .task-list-body > table {
    table-layout: fixed; /* Fix the table layout, and make td to be ellipsisable. */
}

.task-list > .task-list-body > table > tbody > tr.tasklist-table-body-row:nth-child(odd) {
    background-color: rgb(236, 236, 236);
}

.task-list > .task-list-body > table > tbody > tr.tasklist-table-body-row.selected-row {
    background-color: rgb(255, 229, 193);
}

.task-list > .task-list-body > table > tbody > tr.tasklist-table-body-row:hover {
    background-color: rgb(252, 236, 215);
}

.task-list > .task-list-body > table > tbody > tr.tasklist-table-body-row > td {
    text-align: center;
    white-space: nowrap; /* Show content in one line. */
    overflow: hidden;
    text-overflow: ellipsis; /* Replace overflowed text content to ... . */
    word-break: keep-all;  /* Allow to break single words. */
}

.type-thead-th {
    width: 3%;
}

.name-thead-th {
    width: 57%;
}

.progress-thead-th {
    width: 10%;
}

.size-thead-th {
    width: 20%;
}

.time-thead-th {
    width: 10%;
}