.tasklist-table-body-row > td {
    text-align: center;
}

.task-list {
    min-height: 25px;
    min-width: 5px;
}

.task-list > .task-list-head {
    border-width: 2px;
    border-style: solid;
    /* margin-bottom: 5px; */
}

.task-list > .task-list-body > table > tbody > tr.tasklist-table-body-row:nth-child(odd){
    background-color: rgb(236, 236, 236);
}

.task-list > .task-list-body > table > tbody > tr.tasklist-table-body-row.selected-row {
    background-color: burlywood;
}

.task-list > .task-list-body > table > tbody > tr.tasklist-table-body-row:hover {
    background-color: rgb(252, 236, 215);
}

.type-thead-th {
    width: 10%;
}

.name-thead-th {
    width: 50%;
}

.progress-thead-th {
    width: 10%;
}

.size-thead-th {
    width: 10%;
}

.time-thead-th {
    width: 10%;
}

.taskno-tbody-td {
    display: none;
}