.setting-item {
    margin-bottom: 8px;
}

.setting-item > .setting-item-title {
    font-size: larger;
    margin-bottom: 6px;
}

.setting-item > .setting-item-row {
    margin-bottom: 2px;
}

.setting-item:last-child {
    margin-bottom: 0;
}

.setting-item-row {
    display: block;
}

.setting-item-row > * {
    display: inline;
}